<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <cpn @itemclick="cpnClick"></cpn>
</div>
<template id="cpn">
    <div>
        <button v-for="item in categories" @click="btnClick(item)">{{item.name}}</button>
    </div>
</template>
<script src="../js/vue.js"></script>
<script>
    const cpn={
        template:"#cpn",
        data(){
            return {
                categories:[
                    {id:'a',name:"热门推荐"},
                    {id:"b",name:"电器"},
                    {id:"c",name:"电脑"}
                ]
            }
        },
        methods:{
            btnClick(item){
                this.$emit("itemclick",item)
            }
        }
    }
    const app =new Vue({
        el:'#app',
        data:{
            message:"测试"
        },
        components:{
            cpn
        },
        methods:{
            cpnClick(item){
                console.log("cpnClick",item)
            }
        }
    })
</script>
</body>
</html>